body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header form {
    display: inline-block;
    margin-left: 10px;
}

header form input[type="submit"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

header form input[type="submit"]:hover {
    background-color: #d32f2f;
}

.main {
    padding: 20px;
    text-align: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #555;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.welcome-container {
    text-align: center;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-results-container {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie {
    margin-bottom: 10px;
    color: #fff;
}

body.login-page, body.register-page {
    background-image: url('https://img.freepik.com/free-photo/movie-background-collage_23-2149876030.jpg');
}

body.welcome-page, body.search-page {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210403/pngtree-green-halo-gradual-movie-film-background-image_603536.jpg');
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.back-button input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.back-button input[type="submit"]:hover {
    background-color: #45a049;
}
